
/**
 *
 * FONTS
 *
 */

 /* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('./fonts/montserrat-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('./fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('./fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url('./fonts/montserrat-v12-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/montserrat-v12-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/**
 *
 * CONTAINER
 *
 */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

code {
  background-color: rgba(27,31,35,.05);
  border-radius: 3px;
  font-size: 30%;
  margin: 0;
  padding: .2em .4em;
}

.container {
  padding: 32px;
  max-width: 1020px;
  margin: 0 auto;
}


/**
 *
 * BUTTONS
 *
 */

button {
  font-size: 15px;
  border-radius: 3px;
  padding: 15px 20px;
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: transform 0.3s;
}

button a {
  text-decoration: none;
  color: inherit;
}

button.dark {
  color: white;
  background-color: #353740;
}

button:hover {
  transform: translateY(-3px);
}


/**
 *
 * UTILITIES
 *
 */

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.valign {
  align-items: center;
}

.mt-4 {
  margin-top: 48px;
}

.heading {
  font-size: 40px;
  margin-bottom: 24px;
}


/**
 *
 * HEADER
 *
 */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-size: 18px;
  color: rgb(22, 22, 22);
  text-decoration: none;
}

header img {
  height: 48px;
}

header button img {
  height: 24px;
  margin-right: 6px;
}

header button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}


/**
 *
 * MAIN
 *
 */


/**
 *
 * HERO
 *
 */

.hero {
  max-width: 1020px;
  margin: 128px auto;
  padding: 0 32px;
}

.hero h1 {
  text-align: center;
  margin: 0;
  font-size: 56px;
}

.hero h2 {
  text-align: center;
  font-weight: 400;
  color: #8f8f8f;
}

.hero h3 {
  margin: 0 0 22px 0;
  text-align: center;
}

.hero button {
  margin: 0 8px;
}

.hero img {
  margin-top: 64px;
  object-fit: contain;
}

.gif-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 64px;
  border: 3px solid black;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.gif-box img {
  margin-top: 0;
  height: auto;
  width: 280px;
  padding: 16px;
}

.changelog {
  margin-top: 48px;
  width: fit-content;
  padding: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.changelog h2 {
  text-align: left;
}


/**
 *
 * FEATURES
 *
 */

.features {
  background-color: #041029;
  color: white;
  padding: 64px 0;
}

.features h2 {
  text-align: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin-bottom: 64px;
}

.feature .circle {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #0065ff;
  margin-bottom: 20px;
}

.feature .circle img {
  height: 28px;
}

.feature h3 {
  font-size: 20px;
  margin: 0 0 16px 0;
  text-align: center;
}

.feature p {
  text-align: center;
  margin: 0;
}


/**
 *
 * PRICING
 *
 */

.pricing {
  background-color: #041029;
  color: white;
  padding: 64px 0;
  margin-bottom: 64px;
}

.pricing h2 {
  text-align: center;
}

.pricing h3 {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}

.pricing p {
  font-size: 20px;
}


/**
 *
 * FOOTER
 *
 */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px 128px 32px;
}


/**
 *
 * TEAM
 *
 */

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  min-height: 360px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
}

.team .avatar {
  border-radius: 50%;
  height: 128px;
}

.team h3 {
  text-align: center;
  font-size: 23px;
  margin: 18px 0 0 0;
}

.team h4 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 8px 0;
}

.team p {
  text-align: center;
  font-size: 18px;
  margin: 16px 0 0 0;
  line-height: 1.5;
}

.team .links {
  margin-top: 24px;
  font-size: 22px;
  font-weight: bold;
}

.team .links a {
  text-decoration: none;
  margin: 0 8px;
  color: #0065ff;
}


/**
 *
 * BMC
 *
 */

.bmc-button img {
  width: 27px;
  margin-bottom: 1px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
}

.bmc-button {
  line-height: 36px;
  height: 37px;
  text-decoration: none;
  display: inline-flex;
  color: #ffffff;
  background-color: #FF813F;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0px 9px;
  font-size: 17px;
  letter-spacing: -0.08px;
  margin: 16px 0 0 0;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -o-transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.bmc-button span {
  margin-left:5px
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
  transform: translateY(-3px);
  text-decoration: none;
  opacity: 0.85;
  color: #ffffff;
}


/**
 *
 * ADS
 *
 */

.ads {
  margin-top: 128px;
  border-top: 1px solid rgba(0, 0 ,0 ,0.1);
}

.ads h2 {
  text-align: center;
}

.ads iframe {
  border:0;
  width:320px;
  height:144px;
  margin: 16px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),
              0 1px 3px rgba(0,0,0,.08);
  transition: transform 0.3s;
}

.ads iframe:hover {
  transform: translateY(-3px);
}