/* DEFAULT STYLING */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap .react-calendar-heatmap-weekday-label {
  transform: translateX(-6px);
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

.react-calendar-heatmap .today {
  stroke: #555;
  stroke-width: 1px;
}


/* COLOR SCALE */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-0 {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-1 {
  fill: #dcefff;
}

.react-calendar-heatmap .color-2 {
  fill: #acd5f2;
}

.react-calendar-heatmap .color-3 {
  fill: #7fa8d1;
}

.react-calendar-heatmap .color-max {
  fill: #254e77;
}