@font-face {
  font-family: 'Major Mono Display';
  font-style: normal;
  font-weight: 400;
  src: local('Major Mono Display'),
    url(./fonts/MajorMonoDisplay-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(./fonts/MaterialIcons-Regular.woff) format('woff'),
    url(./fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.mono {
  font-family: 'Major Mono Display';
}

html, body, #root, .container {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-size: 2em;
  font-family: sans-serif;
  user-select: none;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 56px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: height 0.2s;
}


/**
 *
 * CARDS
 *
 */

.cards {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s, visibility 0.2s;
}

.cards.show {
  visibility: visible;
  opacity: 1;
}

.card {
  margin: 30px;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}


/* CARD HEADER */

.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-radius: 4px;
}

.card header h2 {
  margin: 0;
  font-size: 0.9em;
}

.card header .material-icons {
  font-size: 1.5em;
}


/* CARD BODY */

.card main {
  overflow: hidden;
  max-height: 0;
  font-size: 0.7em;
  color: black;
  box-shadow: inset 0px 4px 6px 0px rgba(0, 0, 0, 0.10);
  transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.card.extended main {
  padding: 16px;
  max-height: 200px;
}

.card main p {
  margin: 0;
}


/* COLORS VARIANTS */

.green {
  background: linear-gradient(to left, #76b852, #8dc26f);
}

.blue {
  background: linear-gradient(to left, #56ccf2, #2f80ed);
}

/**
 *
 * COUNTER
 *
 */


.counter {
  position: relative;
  height: 256px;
  width: 256px;
  border: 6px solid white;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 56px;
  transition: border 0.4s;
}

.counter.counting {
  border: 132px solid #2F88FF;
}

.counter.pausing {
  border: 16px solid #14B07B;
}

.counter :first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}


/**
 *
 * NAVBAR
 *
 */

 .navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 56px;
  width: 100%;
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  transition: height 0.2s;
}



/**
 *
 * MENU
 *
 */


.menu {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
}

.menu ul {
  width: 100%;
  margin: 0;
  padding: 26px;
}

.menu ul li {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.menu label {
  font-size: 0.9em;
  font-family: sans-serif;
  color: rgb(51, 51, 51);
}

.menu input {
  height: 36px;
  width: 100px;
  text-align: center;
  font-size: 0.8em;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.menu input:focus {
  outline: none;
}


/**
 *
 * BUTTONS
 *
 */


button {
  height: 56px;
  width: 56px;
  border: none;
  background-color: white;
  transition: background-color 0.2s;
  cursor: pointer;
}

button:not(.overlap):hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
}

.overlap {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  border-radius: 50%;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.12),
              0 1px 5px 0 rgba(0,0,0,0.2);
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

button.counting {
  background-color: #2F88FF;
  color: white;
}

button.pausing {
  background-color: #14B07B;
  color: white;
}